
@media only screen and (min-width:150px) and (max-width:550px){
    .head{
      padding-left: 15px;
      
    }
    .button-wrapper {
     left: 160px;
    }
    .container{
      margin-top: 38px;
      gap: 22px;
    }
    .box{
      width: 100vw;
    }
    .pop{
      left: 22px;
    }
    .popup{
      width: 80vw;
    }
    .popup button {
      width: 132px;
      margin-left:185px ;
    }
    .back{
      left: 19px;
    }
    .box1{
      width: 100%;
      left: 0px;
      margin: 0px;
      box-sizing: border-box;
      bottom: 0px;
      top: 190px;
  
    }
    .popup-1{
      width: 80vw;
      height: auto;
    }
    .pop-1{
      left: 10px;
      bottom: auto;
    }
    .popup-1 button {
      width: 133px;
      margin-left:171px ;
    }
  }
  @media only screen and (min-width:551px) and (max-width:1000px){
  .container{
  gap: 5px;
  }
  .button-wrapper {
    left: 480px;
   }
   .pop{
    left: 200px;
    bottom: 0px;
    top: 380px;
    height: 180px;
  }
  .back{
    left: 30px;
  }
  .box1{
    left: 130px;
    top: 220px;
  }
  .pop-1{
    left: 130px;
    bottom: auto;
  }
  
  }